<h1>All Blogs </h1>




<div class="row">
  <div class="col">
    <%@blogs.each do |blog|%>
      <div class="card" style="width: 25rem;">
        <img class="card-img-top" src="<%=blog.hero_image%>" alt="blog image">
        <div class="card-body">
          <h5 class="card-title"><%=blog.title%></h5>
          <p class="card-text"><%=blog.subtitle%></p>
          <a href="<%=admin_blog_path(@admin, blog)%>" class="btn btn-primary">See Full Blog</a>
        </div>
      </div>
    <%end%>
  </div>
</div>

