<div class="container" style="padding-top: 3%;">
  <form class="row g-3">
    <div class="col-12">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title">
    </div>
    <div class="col-12">
      <label for="subtitle" class="form-label">Subtitle</label>
      <input type="text" class="form-control" id="subtitle" placeholder="Subtitle">
    </div>
    <div class="col-12">
      <label for="hero_image" class="form-label">Main Image Link</label>
      <input type="text" class="form-control" id="hero_image" placeholder="https://www.image-example.com/example_image.jpg">
    </div>
    <div id="contents">

    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" id="published">
      <label class="form-check-label" for="published">Would you like to publish this post?</label>
    </div>
    <div class="col-12" style="text-align: center;">
      <button type="submit" class="btn btn-primary">Create Blog Post</button>
    </div>
  </form>
</div>